<style>
body
  {
    background-color: #A9E2F3;

  }
  </style>

<style>
    h1
    {
      position: relative;
      top: 65%;
      left: 15%;
      right: 45%;
      color: blue;
    }
</style>

<body>
<img src="/assets/bl.jpeg">
</body>

<h1>Blood Bank Management System</h1>


<%= button_to"Donor Details", donors_path,:method=>"get" %><br>
<%= button_to"Recipient Details",admin_index_path, :method=>"get" %><br>





